{{!< layout}}
<div class="aui-group">
    <div class="aui-item">
      <h3>This to configure talking to your chef server. You should create a Read Only user for this.</h3>
      <h3>If you have a self signed certificate, you will want to set the SSL to 0.</h3>
        <form method="post" action='/config?signed_request={{{signed_request}}}'>
            <h3>Username:</h3><input type='text' value='{{{username}}}' name='username' />
            <h3>Private Key:</h3> <textarea name='privateKey' >{{{privateKey}}}</textarea>
            <h3>URL:</h3> <input type='text' value='{{{url}}}' name='url' />
            <h3>SSL:</h3> <input type='text' value='{{{ssl}}}' name='ssl' />
            <input type='submit'>
        </form>
    </div>
</div>
